html{
 overflow-y: hidden;
  background-image: url(ivy.jpg);
 background-size: cover;
 background-repeat: no-repeat;
}


.park{
 width: 100vw;
 height: 100vh;
 background-image: url(park_1024.png);
 background-size: contain;
 background-position: center;
 background-repeat: no-repeat;
}

.ball {
 top: 450px;
 left: 700px;
 max-width: 75px;
 max-height: 75px;
 position: absolute;
}

.bat{
     position: absolute;
      width: 75px;
 max-width: 150px;
 height: 250px;
 top: 550px;
 left: 40%;
}

.batters{
 width: 100px;
 height: 100px;
 border: 2px solid black;
 position: relative;
 left: 46%;
 top: 600px;
}

.strikes{
 width: 20px;
 height: 15px;
 background-image: radial-gradient( red 50%, darkred 50%);
 position: relative;
 display: inline-block;
 margin: -5px;
 left: 49%;
 top: 269px;
 z-index: -1;
}
#st1{
 opacity: 0;
}
#st2{
 opacity: 0;
}
#st3{
 opacity: 0;
}

.hr{
 position: absolute;
 font-family: helvetica;
 font-size: 30px;
 background-color: rgba(0,0,0,.5);
 text-align: center;
 color: yellow;
 }
